<h1> <%= @task.title %> </h1>
<p> <%= @task.details %> </p>
<br>
<%= link_to "Modifier la tâche", edit_task_path %>
<br>
<%= link_to "Supprimer la tâche", task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Vous êtes sûr?"} %>
<br>
<%= link_to "Retour aux tâches", tasks_path %>
